<launch>
  <arg name="port" default="/dev/ttyACM0" />
  <node pkg="rt_usb_9axisimu_driver" type="rt_usb_9axisimu_driver" name="rt_usb_9axisimu_driver" required="true">
    <param name="port" value="$(arg port)" />
  </node>
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
    <param name="fixed_frame" value="/base_link"/>
  </node>
  <node pkg="naviwalker" type="naviwalker_test.py" name="naviwalker_test" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find naviwalker)/config/test.rviz"/>
</launch>
